@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

/* Variables */

$colors: (

    Scissors:linear-gradient(180deg,hsl(39, 89%, 49%) 0%, hsl(40, 84%, 53%) 100% ), 
    Paper:linear-gradient(180deg,hsl(230, 89%, 62%) 0%, hsl(230, 89%, 65%) 100% ),
    Rock:linear-gradient(180deg,hsl(349, 71%, 52%) 0%, hsl(349, 70%, 56%) 100% ),
    Lizard: linear-gradient(180deg,hsl(261, 73%, 60%) 0%, hsl(261, 72%, 63%) 100% ),
    Cyan: linear-gradient(180deg,hsl(189, 59%, 53%) 0%, hsl(189, 58%, 57%) 100% ),
    border:#606e85,
);

/* Functions for Color */
@function color($color-name) {
    @return map-get($colors,$color-name)
}

/* Mixins */
$desktop: 840px;

@mixin desktop {

    @media (min-width: #{$desktop}) {
        @content;
    }

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed';
    background: rgb(31,55,86);
    background: linear-gradient(180deg, rgba(31,55,86,1) 0%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.overlay {
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: white;

    h2{
        text-align: center;
        margin-top: 1em;
    }

    #rules-image{
        height: 50%;
        margin: 2em;

        @include desktop { // mixin
            height: 60%;
            align-self: center;
        }

    }

    #close {
        height: 20px;
        width: 20px;
        align-self: center;
        padding-bottom: 1em;
        margin-top: 0;

    }

}

.game {
    margin: 1em 2em;
    min-width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    

    @include desktop { // mixin
        min-width: 600px;
        align-self: center;
    }
}


/* Table */

.table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid color(border);
    border-radius: 10px;



    .logo {
        height: 50px;
        margin-left: 1em;
    }

    .score {
        text-align: center;
        margin: .5em;
        padding: .5em;
        width: 60px;
        background: white;
        border-radius: 5px;


        h3{
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            color: darkblue;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: .1em;
        }

        h1 {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            color: color(border);
            font-size: 35px;
        }

    }
}

/* Selection */

.selection{
    position: relative;
    margin-top: 1em;
    max-width: 325px;

    @include desktop { // mixin
        max-width: 600px;
        
    }

    .circles {
        

        .top{
            display: flex;
            justify-content: space-between;

            .left{
                height: 100px;
                width: 100px;
                background-color: lightgray;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                @include desktop { // mixin
                    height: 175px;
                    width: 175px;
                    
                }
            }

            .right{
                height: 100px;
                width: 100px;
                background-color: lightgray;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                @include desktop { // mixin
                    height: 175px;
                    width: 175px;
                    
                }

            }

        }

        .picking {
            display: none;
        }


        .bottom{
            display: flex;
            justify-content: center;
            margin-top: 3em;

            .center {
                height: 100px;
                width: 100px;
                background-color: lightgray;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                @include desktop { // mixin
                    height: 175px;
                    width: 175px;
                    
                }

            }

        }


    }

    .triangle {
        position: absolute;
        z-index: -1;
        top: 10%;  

        @include desktop { // mixin

            left: 25%;
            top: 15%;  

            
        }
    
    }

}

/* Result */

.result {
    display: none;
}

.rules {
    margin-top: 1.5em;
    align-self: center;

    

    button {
        padding: 1em 3em;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .1em;
        color: white;
        background-color: rgba(0,0,0,0);
        border: 3px solid color(border);
        border-radius: 10px;
        letter-spacing: .2em;
    }
}

/* PICKING COLORS */

.paper {
    border: 15px solid hsl(230, 89%, 65%);
}

.scissors{
    border: 15px solid hsl(40, 84%, 53%);
}

.rock{
    border: 15px solid hsl(349, 71%, 52%);
}


/* STEP TWO */


.steptwo {

    .top {

        .left {
            animation: ripple 0.7s linear infinite;

            @keyframes ripple {
                0% {
                  box-shadow: 0 0 0 0 rgba(0,0,0,0.3),
                              0 0 0 1em rgba(0,0,0,0.3),
                              0 0 0 3em rgba(0,0,0,0.3),
                              0 0 0 5em rgba(0,0,0,0.3),
                }
                100% {
                  box-shadow: 0 0 0 1em rgba(0,0,0,0.3),
                              0 0 0 3em rgba(0,0,0,0.3),
                              0 0 0 5em rgba(0,0,0,0.3),
                              0 0 0 8em rgba(0,0,0,0),
                }
              }
        }


        .right{
            background-color:rgba(0,0,0,0.3) !important;
            border-radius: 50%;
            border: 15px solid rgba(0,0,0,0) !important;
            
            img{
                display: none;
            }
        }
    }

    .picking {
        display: flex !important;
        justify-content: space-between;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        color: white;
        

        h4:first-child {
            padding: 0;
            margin: 0;
            margin-top: 1em;
            width: 130px;
            text-align: center;

            @include desktop { // mixin
                font-size: 24px;
                width: 205px;
    
            }
        }

        h4:last-child {
            padding: 0;
            margin: 0;
            margin-top: 1em;
            width: 130px;
            text-align: center;

            @include desktop { // mixin
                font-size: 24px;
                width: 205px;
            }
        }

    }

    .bottom {
        display: none !important;
    }

    .triangle {
        display: none;
    
    }

    .rules {
        display: none;
    }

}



/* STEP THREE */


.stepthree {

    // .top {


    //     .right{
    //         background-color: lightgray;
    //         border-radius: 50%;
    //         border: 15px solid hsl(40, 84%, 53%);
            
    //         img{
    //             display: block;
    //         }
    //     }
    // }

    .picking {
        display: flex !important;
        justify-content: space-between;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        color: white;

        h4:first-child {
            padding: 0;
            margin: 0;
            margin-top: 1em;
            width: 130px;
            text-align: center;

            @include desktop { // mixin
                font-size: 24px;
                width: 205px;
    
            }
        }

        h4:last-child {
            padding: 0;
            margin: 0;
            margin-top: 1em;
            width: 130px;
            text-align: center;

            @include desktop { // mixin
                font-size: 24px;
                width: 205px;
            }
        }

    }

    .bottom {
        display: none !important;
    }

    .triangle {
        display: none;
    
    }

}



/* STEP FOUR */


.stepfour {

    // .top {

    //     .right{
    //         background-color: lightgray;
    //         border-radius: 50%;
    //         border: 15px solid hsl(40, 84%, 53%);
            
    //         img{
    //             display: block;
    //         }
    //     }
    // }

    .picking {
        display: flex !important;
        justify-content: space-between;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        color: white;

        h4:first-child {
            padding: 0;
            margin: 0;
            margin-top: 1em;
            width: 130px;
            text-align: center;

            @include desktop { // mixin
                font-size: 24px;
                width: 205px;
    
            }
        }

        h4:last-child {
            padding: 0;
            margin: 0;
            margin-top: 1em;
            width: 130px;
            text-align: center;

            @include desktop { // mixin
                font-size: 24px;
                width: 205px;
            }
        }

    }

    .bottom {
        display: none !important;
    }

    .triangle {
        display: none;
    
    }

    .result {
        display: block;
        padding: 0;
        text-align: center;
        margin-top: 4em;
        

        h2{
            display: inline;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-size: 40px;
            color: white;
        }

        button {
            display: block;
            margin: 1em auto;
            padding: 0.5em 1em;
            font-size: 18px;
            font-weight: 700;
            color: hsl(349, 71%, 52%);
            background-color: white;
            text-transform: uppercase;
            border-radius: 10px;
            border: none;
            letter-spacing: 0.05em;
            letter-spacing: .2em;
        }
    }

    .rules {
        display: none;
    }

}